nav, a, a:visited {
    color: #FFFFFF;
}
div#search-form {
    padding: 5px;
    text-align: right;
}
textarea{
	resize: none;
}
article {
    border: 1px solid #000000;
    margin-bottom: 2em;
    padding: 5px;
}
div.answers-list {
	border: 1px solid #ccc;
	padding-left: 10px;
}
nav {
    background-color: #000000;
    padding: 10px;
}
h1 {
    text-align: center;
}
footer {
    font-size: 0.7em;
    text-align: center;
}
main {
    padding: 5px;
}
p {
    font-style: italic;
}
